/*
  Containers
*/
.split__container {
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
}

/*
  Header
*/
.header__container {
  justify-content: space-between;
  align-items: center;
  &.light .header__logo, &.light .header__link {
    color: $white;
  }
  &.dark .header__logo, &.dark .header__link {
    color: $primary-color;
  }
}
.header__links, .header__links.clicked {
  position: relative;
  display: flex;
  height: auto;
  width: auto;
  right: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  top: 0;
}
.header__icon {
  display: none;
}
.header__logo {
  font-size: 2rem;
}
.header__close {
  display: none;
}
.header__link {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
/*
  Homepage
*/
.services__container {
  grid-template-columns: repeat(4, 1fr);
}
.about__container {
  grid-template-columns: 2fr 3fr;
}
.about__quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $primary-color;
}
.howitworks__container {
  grid-template-columns: repeat(3, 1fr);
}
.examples__container {
  grid-template-columns: repeat(6, 1fr);
}
.testimonials__container {
  grid-template-columns: repeat(4, 1fr);
}

/*
  Itemlist
*/
.itemlist__container {
  grid-template-columns: repeat(4, 1fr);
}
/*
  Item details
*/
.itemdetails {
  background-color: $white;
  padding: 5rem 1rem;
}
.itemdetails__container {
  grid-template-columns: 2fr 10fr 10fr;
}
.itemdetails__content {
  grid-column: span 1;
}
.itemdetails__img {
  grid-column: span 1;
}

/*
  Content
*/
.paragraph__split {
  grid-template-columns: 1fr 2fr;
}

/*
  Social
*/
.social.dark {
  position: absolute;
  right: 0rem;
  bottom: auto;
  display: flex;
  flex-direction: column;
  .social__icon {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: .5rem;
    margin-right: 0rem;
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}
.color__selector {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba($secondary-color, .2);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2;
  grid-row: 2 / span 3;
  gap: 1rem;
}
.address {
  grid-column: span 2;
}

/*
  Split
*/
.split__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.split__left {
  padding: 0;
}

/*
  Footer
*/
.footer__container {
  grid-template-columns: repeat(4, 1fr);
}
.links {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 0;
}

/*
  Copyright
*/
.copyright {
  padding: 1rem;
  text-align: center;
  font-size: .8rem;
  width: 100%;
  &.block {
    position: block;
    color: rgba($white, .8);
    background-color: darken($primary-color, 10%);
  }
  &.fixed {
    position: block;
    color: $primary-color;
    background-color: transparent;
    bottom: 0;
    left: 0;
  }
}