/*
  Header Component
*/
.header {
  background-color: transparent;
  position: fixed;
}
.header__title {
  font-size: 2rem;
}
/*
  Split Component
*/
.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100vw;
}
.split__form {
  padding: 0;
}
.split__right {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.split__img--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($black, 0.2);
}
.split__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/*
  Social Icons Component
*/

.social {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateY(50%);
  right: 1rem;
  bottom: 50%;
}
.social__icon {
  margin: 0 0 .5rem 0;
  color: $white;
  font-size: 1.8rem;
  &:hover {
    color: $primaryColor;
  }
}
/* 
  Footer component
*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5rem 1rem;
}