/*
  General
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: $white;
}
a {
  color: $black;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
}
button {
  font-weight: 700;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*
  Loader
*/
.loader__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid $black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple .9s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*
  SnackBar Component
*/
.snackbar {
  z-index: 10000;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 4px $grey;
  text-align: center;
  position: absolute;
  border-radius: 4px;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
.snackbar__container {
  position: relative;
  border-radius: 4px;
}
.snackbar__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: $white;
}
.snackbar__error, .snackbar__success {
  padding: 1.5rem 1rem;
  font-size: .9rem;
  border-radius: 4px;
  color: $white;
  font-weight: 700;
}
.snackbar__success {
  background-color: $secondary-color;
}
.snackbar__error {
  background-color: $red;
}

/*
  Social
*/
.social__icon {
  font-size: 2rem;
  color: rgba($white, 0.8);
  margin-right: .5rem;
  &:hover {
    color: $white;
  }
}

/*
  Header
*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 1rem;
  &.isScrolled {
    background-color: rgba($black, .6);
    box-shadow: 0px 1px 3px $black; 
  }
}
.header__logo {
  font-size: 2rem;
}
.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.light .header__logo, &.light .header__link {
    color: $white;
  }
  &.dark .header__logo, &.dark .header__link {
    color: $primary-color;
  }
}
.header__link {
  margin: 0 .5rem;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}

/*
  Forms
*/
.form__input {
  padding: .5rem 1rem;
  width: 100%;
  background-color: rgba($white, 0.8);
  border-radius: 10px;
  color: $primary-color;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  &::placeholder {
    color: rgba($primary-color, 0.8);
  }
  &.error {
    border: 1px solid $red;
  }
}
.form__error-message {
  margin-top: -.8rem;
  margin-bottom: .5rem;
  color: $red;
  font-size: .8rem;
}
.form__btn {
  padding: .5rem 1rem;
  background-color: $white;
  border-radius: 10px;
  color: $primary-color;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  &:hover {
    background-color: darken($white, 5%);
  }
}

/*
  Jumbotron
*/
.jumbotron {
  width: 100vw;
  &.height-100 {
    height: 100vh;
    background: url('../assets/charlie-jumbotron.webp');
    background-position: center;
  }
  &.height-70 {
    height: 70vh;
    background: url('../assets/charlie_4.webp');
    background-position: center;
  }
}
.jumbotron__container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.jumbotron__title {
  color: $white;
  margin-bottom: 1rem;
}
.jumbotron__subtitle {
  color: rgba($white, .8);
  margin-bottom: 1rem;
}
.jumbotron__btn {
  padding: .8rem 1.5rem;
  background-color: $white;
  border-radius: 10px;
  color: $primary-color;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  &:hover {
    background-color: darken($white, 5%);
  }
}

/*
  Services
*/
.services {
  padding: 1rem;
  background-color: $white;
  width: 100%;
}
.services__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.service {
  text-align: center;
  padding: 1rem 0;
}
.service__title {
  color: $primary-color;
}
.service__subtitle {
  color: $grey;
}

/*
  About us
*/
.about {
  background-color: rgba($secondary-color, .2);
  padding: 5rem 1rem;
}
.about__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 3fr;
}
.about__quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $primary-color;
}
.about__title {
  color: $primary-color;
}
.about__subtitle {
  color: $secondary-color;
}

/*
  Examples
*/
.examples {
  background-color: $white;
  padding: 1rem;
}
.examples__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}
.example__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/*
  Testimonials
*/
.testimonials {
  background-color: rgba($secondary-color, .2);
  padding: 5rem 1rem;
}
.testimonials__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.testimonial {
  text-align: center;
  padding: 2rem 1rem;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba($black, .2);
}
.testimonial__title {
  color: $primary-color;
  margin-bottom: .2rem;
}
.testimonial__caption {
  color: rgba($secondary-color, .5);
  font-weight: 700;
  font-size: .8rem;
  margin-bottom: 1rem;
}
.testimonial__text {
  color: $grey;
  margin-bottom: .5rem;
  font-style: italic;
}
.testimonial__star {
  color: #FFD700;
  font-size: 1.3rem;
  margin: 0 .1rem;
}

/*
  How it works
*/
.howitworks {
  background-color: $white;
  padding: 5rem 1rem;
  text-align: center;
}
.howitworks__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: $primary-color;
}
.howitworks__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.step__title {
  color: $primary-color;
}
.step__subtitle {
  color: $grey;
}

/*
  Content
*/
.content {
  background-color: $white;
  padding: 5rem 1rem;
}
.content__container {
  max-width: 768px;
  margin: 0 auto;
}
.content__title {
  color: $primary-color;
  text-align: center;
  margin-bottom: 2rem;
}
.paragraph__title {
  color: grey;
  margin-bottom: 1rem;
}
.paragraph__subtitle {
  color: grey;
  margin-bottom: 1rem;
}
.paragraph__split {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.paragraph__text {
  color: $grey;
  margin-bottom: 1rem;
}
/*
  Itemlist
*/
.itemlist {
  background-color: $white;
  padding: 5rem 1rem;
}
.itemlist__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.item {
  position: relative;
}
.item__img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  max-height: 290px;
  border-radius: 10px;
  margin-bottom: .5rem;
}
.item__title {
  color: $primary-color;
  font-size: 1rem;
  margin-bottom: .5rem;
}
.item__price {
  color: $primary-color;
  font-style: italic;
  font-size: .8rem;
}
.item__heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: $red;
}

/*
  FAQ
*/
.faq {
  background-color: $white;
  padding: 5rem 1rem;
}
.faq__container {
  max-width: 1140px;
  margin: 0 auto;
}
.faq__title {
  text-align: center;
  margin-bottom: 3rem;
  color: $primary-color;
}
.faq__contact {
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
  background-color: rgba($secondary-color, .2);
  border-radius: 10px;
}
.faq__link {
  padding-left: .5rem;
  font-weight: 700;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}
.expandable__container {
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba($black, .3);
  border-radius: 10px;
}
.expandable {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.expandable__title {
  color: $grey;
}
.expandable__subtitle {
  padding: 1rem;
  color: $grey;
  border-top: 1px solid rgba($grey, .2);
}
.expandable__icon {
  font-size: 1rem;
  color: $grey;
}

/*
  Footer Component
*/
.footer {
  width: 100%;
  background-color: $primary-color;
  padding: 3rem 1rem;
}
.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.links__title {
  color: rgba($white, .8);
}
.links__subtitle {
  color: rgba($white, .6);
  margin-bottom: 1rem;
}
.links__anchor {
  color: rgba($white, .6);
  margin-bottom: .5rem;
  &:hover {
    text-decoration: underline;
    color: $white;
  }
}
.copyright {
  padding: 1rem;
  text-align: center;
  background-color: darken($primary-color, 10%);
  color: rgba($white, .8);
  font-size: .8rem;
}