/*
  General
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: $white;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
/*
  Loader
*/
.loader__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid $black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple .9s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*
  Header Component
*/
.header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background-color: transparent;
}
.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header__title {
  color: $white;
}
.header__link {
  color: $white;
  margin: 0 .5rem;
  font-weight: 700;
}
/*
  Jumbotron Component
*/
.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)), url('https://res.cloudinary.com/charlies-closet/image/upload/v1618827434/Public%20Website/charlie-1_kjktc6.webp');
  background-position: center;
  background-size: cover;
}
.jumbotron__title, .jumbotron__subtitle {
  color: $white;
  max-width: 768px;
  text-align: center;
  margin-bottom: 1rem;
}
.jumbotron__btn {
  padding: .8rem 1rem;
  background-color: $white;
  color: $primaryColor;
  font-weight: 700;
  border-radius: 10px;
}
/*
  Values Component
*/
.values {
  background-color: $white;
  padding: 3rem 0;
}
.values__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.values__details {
  text-align: center;
}
.values__title {
  margin-bottom: 1rem;
  color: $primaryColor;
}
.values__subtitle {
  color: $grey;
}
/*
  About us
*/
.about {
  background-color: $lightGreen;
  padding: 3rem 0;
}
.about__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.about__left, .about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__left {
  text-align: center;
  align-items: center;
}
.about__right {
  text-align: left;
  align-items: flex-start;
}
.about__quote {
  font-size: 2rem;
  color: $primaryColor;
  font-family: 'Pacifico', cursive;
}
.about__title {
  margin-bottom: 1rem;
  color: $primaryColor;
}
.about__subtitle {
  color: $secondaryColor;
}

/*
  Service Component
*/
.service {
  background-color: $white;
  padding: 3rem 0;
  text-align: center;
}
.service__container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.service__title {
  color: $primaryColor;
  margin-bottom: 2rem;
}
.service__item {
  padding: 1rem;
  h3 {
    color: $primaryColor;
    margin-bottom: 1rem;
  }
  p {
    color: $grey;
  }
}

/*
  Copyright Component
*/
.copyright {
  background-color: $darkGreen;
  padding: 1rem;
}
.copyright__container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.copyright__content {
  font-size: .8rem;
  color: rgba($white, 0.6);
}