/*
  General
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: $white;
}
a {
  color: $black;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}
button {
  font-weight: 700;
}
/*
  Loader
*/
.loader__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid $black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple .9s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*
  Header Component
*/
.header {
  position: static;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
  color: $primaryColor;
  background-color: $white;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.header__title {
  font-size: 1.5rem;
}
/*
  Split Component
*/
.split {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  width: 100vw;
}
.split__left {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.split__form {
  max-width: 375px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.split__title {
  font-size: 2.5rem;
  color: $primaryColor;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.split__subtitle {
  font-size: 1rem;
  color: $grey;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}
.split__input {
  padding: 1rem;
  width: 100%;
  background-color: rgba($secondaryColor, 0.3);
  border-radius: 10px;
  color: $primaryColor;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  &::placeholder {
    color: rgba($primaryColor, 0.8);
  }
  &.error {
    border: 1px solid $red;
  }
}
.form__error-message {
  margin-top: -.8rem;
  font-size: .8rem;
  color: $red;
  margin-bottom: .5rem;
  width: 100%;
}
.split__button {
  padding: 1rem;
  width: 100%;
  background-color: $primaryColor;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: $white;
  &:hover {
    background-color: darken($primaryColor, 5%);
  }
}
.split__right {
  display: none;
}

/*
  Social Icons Component
*/
.social {
  position: initial;
  display: block;
  text-align: center;
  bottom: 2rem;
  right: 0;
  transform: none;
  z-index: 2000;
}
.social__icon {
  margin: 0 .3rem;
  color: $primaryColor;
  font-size: 2rem;
}

/*
  SnackBar Component
*/
.snackbar {
  z-index: 10000;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 4px $grey;
  text-align: center;
  position: absolute;
  border-radius: 4px;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
.snackbar__container {
  position: relative;
  border-radius: 4px;
}
.snackbar__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: $white;
}
.snackbar__error, .snackbar__success {
  padding: 1.5rem 1rem;
  font-size: .9rem;
  border-radius: 4px;
  color: $white;
  font-weight: 700;
}
.snackbar__success {
  background-color: $secondaryColor;
}
.snackbar__error {
  background-color: $red;
}
/* 
  Footer component
*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  font-size: .8rem;
  color: $grey;
}